* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: darkolivegreen;
}

.header {
  background-color: #1F2937;
  color: white;
}

#header-logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  padding: 2% 15%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  display: inline-block;
  padding: 8px 12px;
}

#info-subtext {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-left: 90px;
}

.info-header {
  /*padding: 2% 15%;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

#info-top {
  font-size: 48px;
  font-weight: bolder;
  margin-right: 15px;
}

#signup-button {
  padding: 10px 28px;
  margin-top: 5px;
  margin-right: 48%;
  border-radius: 7px;
  background-color: #3882f6;
  border: none;
  color: white;
}

#infopic {
  width: 40%;
  margin: 50px;
}

.container-left, .container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-left {
  display: flex;
  flex-direction: column;
  margin-left: 190px;
}

.second {
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

#header-title {
  text-align: center;
}

.info-images > .images > img {
  width: 50%;
}

.info-images {
  display: flex;
}
.images {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images > p {
  padding-top: 10px;
}

.third {
  background-color: #e5e7eb;
  text-align: center;
}

.text {
  padding-top: 5%;
}

.center-text {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  padding-bottom: 15px;
  padding-left: 30%;
  width: 40%;
}

.right-text {
  text-align: right;
  font-weight: bolder;
  padding-right: 5%;
  padding-bottom: 5%;
  font-size: 36px;
}

.call {
  background-color: white;
  padding: 50px;
  align-items: center;
  justify-content: center;
}